<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>

  <h1>Hello,User!</h1>
  <hr>


  <h9>In the URL use (without quotes) the following syntax after "127.0.0.1:5000" to perform CRUD opertaion:
  </h9>
  <hr>
  <p>
    "/data/create" to Enter the elements.
  </p>
  <p>
    "/data" to view all the elements prsesent.
  </p>
  <p>
    "/data/id" to view particular element.
  </p>
  <p>
    "/data/id/update" to Update the elements.
  </p>
  <p>
    "/data/id/delete" to Delete an element.
  </p>
  <p>
    "/uplaod" to Upload a file on the local server.
  </p>
</body>

</html>